.header {
    text-align: center;
    font-size: 40px;
    line-height: 48px;
}

.carousel-head {
    text-align: center;
}
.about {
    text-align: center;
    border: 1px solid red;
    padding: 20px;
    line-height: 20px;
    margin: 15px;
}

.links {
    text-align: center;
}